<section class="container">

  <div class="header">
    <div class="header-element">
      Channel 1
    </div>

    <div class="header-element">
      Channel 2
    </div>

    <div class="header-element">
      Channel 3
    </div>

    <div class="header-element">
      Channel 4
    </div>

    <div class="header-element">
      Channel 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      17
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      18
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      19
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      20
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      21
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      22
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      23
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

  <div class="content">
    <div class="content-element">
      00
    </div>

    <div class="content-element">
      Content 1
    </div>

    <div class="content-element">
      Content 2
    </div>

    <div class="content-element">
      Content 3
    </div>

    <div class="content-element">
      Content 4
    </div>

    <div class="content-element">
      Content 5
    </div>
  </div>

</section>
